html{
    width:100%;
    height:100%;
    background-image: url(hp_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    display: grid;
    text-align: center;
    margin-top: 15%;
    margin-left: 18%;
    margin-right: 18%;
    padding: 0.5%;
}
span{
    display: flex;
    font-size: 5em;
    border: 0.5px solid;
    border-left: 20%;
    background-color: rgba(245, 222, 179, 0.9);
    font-family: "Kaushan Script", cursive;
    color: rgba(238, 17, 17, 0.904);
    text-align: center;
}
.keys{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill,minmax(70px,3fr));
    grid-template-rows: 1fr;
    text-align: center;
    margin-left: 12%;
    margin-right: 10%;
    padding: 2%;
}

.key {
    background-color: rgba(255, 145, 0, 0.8);
    cursor: pointer;
    display:inline-block;
    text-align: center;
    font-size:4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    border-radius:6px;
    border:3px solid;
    border-color: rgba(0, 0, 255, 0);
    transition: all 0.07s;
    /* padding: 10px ; */
}
.sound{
    color: rgb(76, 0, 255);
    display:inline-block;
    text-align: center;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    transition: all 1s linear;
}
.playing {
    transform: scale(1.5,1.5);
    box-shadow:rgba(241, 8, 8, 0.986) 5px 5px 25px;
    border: 5px solid;
    border-color: rgba(241, 8, 8, 0.986) ;
}